body {
  background: #fff;
  color: #5a5a5a;
  font-family: "Kanit", sans-serif;
  font-weight: 300; }

a {
  color: #44883d; }

a:hover {
  text-decoration: none;
  color: #24330a; }

#header {
  background-color: #fff; }
  #header .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  #header .logo {
    max-width: 100%; }
  #header .dropdown-menu {
    border: none;
    border-radius: 0px;
    font-size: 0.9rem;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
    margin-top: 0px;
    min-width: 12rem; }
  #header .dropdown:hover > .dropdown-menu {
    display: block; }

.wp63-home #home-slider .carousel-caption {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

.wp63-home #main h2 {
  padding-bottom: 1rem; }

.wp63-home #main .block {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.wp63-home #main #news-block {
  background: #f9f9f9; }
  .wp63-home #main #news-block .news-item {
    margin-bottom: 1rem; }
    .wp63-home #main #news-block .news-item .card {
      border-radius: 2px;
      border: none;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .wp63-home #main #news-block .news-item .card-img-top {
      border-radius: 1px 1px 0px 0px; }
    .wp63-home #main #news-block .news-item .card-block {
      padding: 0.5rem; }
      .wp63-home #main #news-block .news-item .card-block p {
        font-size: 0.9rem;
        line-height: 1.2rem;
        min-height: 3.6rem;
        max-height: 3.6rem;
        overflow: hidden; }
  .wp63-home #main #news-block .event-list {
    margin-bottom: 1rem; }
  .wp63-home #main #news-block .event-item .fa {
    width: 1rem;
    text-align: center; }
  .wp63-home #main #news-block .event-item .event-title {
    margin-bottom: 0.5rem; }
  .wp63-home #main #news-block .event-item .event-date {
    font-size: 0.8rem;
    margin-bottom: 0; }
  .wp63-home #main #news-block .event-item .event-location {
    font-size: 0.8rem;
    margin-bottom: 0; }

.wp63-home #main #congratulate-block {
  background: #86af49;
  color: #fff; }
  .wp63-home #main #congratulate-block .congrats-item {
    margin-bottom: 1rem; }
    .wp63-home #main #congratulate-block .congrats-item .card {
      border-radius: 2px;
      border: none;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .wp63-home #main #congratulate-block .congrats-item .card-img-top {
      border-radius: 1px 1px 0px 0px; }
    .wp63-home #main #congratulate-block .congrats-item .card-block {
      padding: 0.5rem; }
      .wp63-home #main #congratulate-block .congrats-item .card-block p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.2rem;
        min-height: 3.6rem;
        max-height: 3.6rem;
        overflow: hidden; }

.wp63-home #main #activity-block .gallery-item {
  margin-bottom: 1rem; }
  .wp63-home #main #activity-block .gallery-item .card {
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .wp63-home #main #activity-block .gallery-item .card-img-top {
    border-radius: 1px 1px 0px 0px; }
  .wp63-home #main #activity-block .gallery-item .card-block {
    padding: 0.5rem; }
    .wp63-home #main #activity-block .gallery-item .card-block p {
      font-size: 0.9rem;
      line-height: 1.2rem;
      min-height: 3.6rem;
      max-height: 3.6rem;
      overflow: hidden; }

.wp63-home #main #activity-block .document-list {
  font-size: 0.8rem; }

body.wp63-page #main {
  background: #f9f9f9;
  padding-top: 1rem;
  padding-bottom: 1rem; }

body.wp63-page .post-cover img {
  max-width: 100%;
  height: auto; }

body.wp63-page .post-container {
  background: #fff;
  padding: 1.5rem 2rem; }

body.wp63-page .post-container .post-meta {
  font-size: 0.8rem;
  margin-bottom: 1rem; }

body.wp63-page .widget {
  background: #fff;
  margin-bottom: 1rem; }
  body.wp63-page .widget .widget-title {
    padding: 0.5rem;
    margin: 0px;
    border-bottom: 1px solid #f9f9f9; }
  body.wp63-page .widget .widget-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    body.wp63-page .widget .widget-content ul .menu-item a {
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid #fafafa; }
    body.wp63-page .widget .widget-content ul .menu-item.current-menu-item a {
      padding-right: 0px;
      border-right: 0.5rem solid #d5dbbc; }
    body.wp63-page .widget .widget-content ul .cat-item a {
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid #fafafa; }
    body.wp63-page .widget .widget-content ul .cat-item.current-cat a {
      padding-right: 0px;
      border-right: 0.5rem solid #d5dbbc; }

body.wp63-page .wp63-pagination {
  padding: 1rem; }
  body.wp63-page .wp63-pagination .page-link {
    color: #44883d; }
  body.wp63-page .wp63-pagination .page-link:hover {
    color: #24330a; }
  body.wp63-page .wp63-pagination .page-item.active .current {
    color: #fff;
    background: #86af49;
    border-color: #86af49; }

body.wp63-page .event-meta .event-icon {
  font-size: 5rem;
  text-align: right; }

body.wp63-page .event-meta .event-detail {
  color: #9c9c9c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  body.wp63-page .event-meta .event-detail .fa {
    width: 1rem;
    text-align: center; }
  body.wp63-page .event-meta .event-detail .event-title {
    margin-bottom: 0.5rem; }
  body.wp63-page .event-meta .event-detail .event-date {
    font-size: 0.8rem;
    margin-bottom: 0; }
  body.wp63-page .event-meta .event-detail .event-location {
    font-size: 0.8rem;
    margin-bottom: 0; }

body.wp63-page .gallery-meta .gallery-icon {
  font-size: 5rem;
  text-align: right; }

body.wp63-page .gallery-meta .gallery-detail {
  color: #9c9c9c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  body.wp63-page .gallery-meta .gallery-detail .fa {
    width: 1rem;
    text-align: center; }
  body.wp63-page .gallery-meta .gallery-detail .event-title {
    margin-bottom: 0.5rem; }

body.wp63-event .post-content {
  margin-bottom: 3rem; }

body.wp63-personel .personel-list .personel-list-head {
  background: #86af49;
  color: #fff;
  padding: 0.5rem; }

body.wp63-personel .personel-list .personel-list-item {
  padding: 1rem 0.5rem;
  background: #fff;
  border-bottom: 1px solid #f9f9f9; }

body.wp63-personel .personel-list .personel-photo {
  width: 100%;
  height: auto; }

#footer {
  color: #fff;
  background: #24330a;
  font-size: 0.8rem;
  padding-top: 1rem; }
  #footer .footer-logo {
    max-width: 100%;
    height: auto;
    opacity: 0.7; }
