body {
  background: -webkit-linear-gradient(top, rgba(152, 206, 71, 0.07) 0, rgba(243, 249, 234, 0.18) 500px) no-repeat, -webkit-linear-gradient(top, #A7D562 0, #E4F2CF 500px);
  /*background: #44c062 url('../img/background.png');*/
  color: #5a5a5a;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  background-attachment: fixed; }

a {
  color: #44883d; }

a:hover {
  text-decoration: none;
  color: #24330a; }

.wrapper {
  max-width: 1200px;
  margin: 1.5rem auto; }

.background-wrapper:before {
  margin-top: -2rem;
  content: "";
  position: fixed;
  left: -0.5rem;
  right: 0rem;
  z-index: -1;
  display: block;
  background-image: url("http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG");
  background-size: cover;
  width: 110%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.block {
  background: #fff; }

#header {
  background-color: #156711;
  /*
	#mainnavi .navbar-nav>li:last-child {
		border:1px solid #cacaca;
		transition: all 0.3s linear;
	}

	#mainnavi .navbar-nav>li:last-child:hover {
		background: #ececec;
	}
	*/ }
  #header .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #header .logo {
    max-width: 100%; }
  #header .dropdown-menu {
    border: none;
    border-radius: 0px;
    font-size: 0.9rem;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
    margin-top: 0px;
    min-width: 12rem;
    background: #328a2e; }
  #header .dropdown:hover > .dropdown-menu {
    display: block; }
  #header .dropdown .dropdown-menu .nav-link {
    -webkit-transition: all 0.08s ease-in;
    -o-transition: all 0.08s ease-in;
    transition: all 0.08s ease-in; }
  #header .dropdown:hover > .dropdown-menu .nav-link:hover {
    background: #5aac56; }
  #header .navbar {
    padding: 0.5rem 0rem; }
  #header #mainnavi ul.navbar-nav {
    font-size: 1.2rem; }
  #header #mainnavi .navbar-nav .active > .nav-link {
    color: #fff; }
  #header #mainnavi .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7); }
  #header #mainnavi .navbar-nav .nav-link:hover {
    color: #fff; }

.wp63-home #home-slider .carousel-item img {
  width: 100%;
  height: auto; }

.wp63-home #home-slider .carousel-caption {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

.wp63-home #main h2 {
  margin-bottom: 1rem; }

.wp63-home #main h3 {
  margin-bottom: 1rem; }

.wp63-home #main .block {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.wp63-home #main .side-heading {
  color: #0a4900; }

.wp63-home #main .block-heading {
  border-bottom: 1px solid #156711;
  padding-bottom: 0px; }
  .wp63-home #main .block-heading span {
    display: inline-block;
    background: #156711;
    color: #fff;
    padding: 0.3rem 0.7rem; }

.wp63-home #main #news-block .news-item {
  margin-bottom: 1rem; }
  .wp63-home #main #news-block .news-item .card {
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
  .wp63-home #main #news-block .news-item .card:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .wp63-home #main #news-block .news-item .card-img-top {
    border-radius: 1px 1px 0px 0px; }
  .wp63-home #main #news-block .news-item .card-block {
    padding: 0.5rem; }
    .wp63-home #main #news-block .news-item .card-block p {
      font-size: 0.9rem;
      line-height: 1.2rem;
      min-height: 3.6rem;
      max-height: 3.6rem;
      overflow: hidden; }

.wp63-home #main #news-block .event-list {
  margin-bottom: 1rem; }

.wp63-home #main #news-block .event-item .fa {
  width: 1rem;
  text-align: center; }

.wp63-home #main #news-block .event-item .event-title {
  margin-bottom: 0.5rem; }

.wp63-home #main #news-block .event-item .event-date {
  font-size: 0.8rem;
  margin-bottom: 0; }

.wp63-home #main #news-block .event-item .event-location {
  font-size: 0.8rem;
  margin-bottom: 0; }

.wp63-home #main #congratulate-block {
  background: #86af49;
  color: #fff; }
  .wp63-home #main #congratulate-block .congrats-item {
    margin-bottom: 1rem; }
    .wp63-home #main #congratulate-block .congrats-item .card {
      border-radius: 2px;
      border: none;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .wp63-home #main #congratulate-block .congrats-item .card-img-top {
      border-radius: 1px 1px 0px 0px; }
    .wp63-home #main #congratulate-block .congrats-item .card-block {
      padding: 0.5rem; }
      .wp63-home #main #congratulate-block .congrats-item .card-block p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.2rem;
        min-height: 3.6rem;
        max-height: 3.6rem;
        overflow: hidden; }

.wp63-home #main #student-works-block {
  background: #d5dbbc; }
  .wp63-home #main #student-works-block h2 {
    color: #0a4900; }
  .wp63-home #main #student-works-block .student-work-item {
    margin-bottom: 1rem; }
  .wp63-home #main #student-works-block .student-work-item .card-text {
    font-size: 0.8rem;
    padding: 5px;
    /*word-wrap: normal;*/ }

.wp63-home #main #activity-block .gallery-item {
  margin-bottom: 1rem; }
  .wp63-home #main #activity-block .gallery-item .card {
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
  .wp63-home #main #activity-block .gallery-item .card:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .wp63-home #main #activity-block .gallery-item .card-img-top {
    border-radius: 1px 1px 0px 0px; }
  .wp63-home #main #activity-block .gallery-item .card-block {
    padding: 0.5rem; }
    .wp63-home #main #activity-block .gallery-item .card-block p {
      font-size: 0.9rem;
      line-height: 1.2rem;
      min-height: 3.6rem;
      max-height: 3.6rem;
      overflow: hidden; }

.wp63-home #main #activity-block .document-list {
  font-size: 0.8rem;
  margin-bottom: 1rem; }

.wp63-home #main #link-block {
  background: #d5dbbc; }
  .wp63-home #main #link-block .link-list ul {
    list-style: none; }
    .wp63-home #main #link-block .link-list ul li {
      display: inline-block;
      margin-bottom: 5px; }
  .wp63-home #main #link-block .dslinks ul {
    padding-left: 3rem; }
    .wp63-home #main #link-block .dslinks ul li .nav-link {
      padding: 0; }

body.wp63-page #main {
  background: #f0f0f0;
  padding-top: 1rem;
  padding-bottom: 1rem; }

body.wp63-page .post-cover {
  background: #fff; }
  body.wp63-page .post-cover img {
    width: 100%;
    height: auto; }

body.wp63-page .post-container {
  background: #fff;
  padding: 1.5rem 2rem; }
  body.wp63-page .post-container img {
    max-width: 100%;
    height: auto; }

body.wp63-page .post-container .post-meta {
  font-size: 0.8rem;
  margin-bottom: 1rem; }

body.wp63-page .widget {
  background: #fff;
  margin-bottom: 1rem; }
  body.wp63-page .widget .widget-title {
    padding: 0.5rem;
    margin: 0px;
    border-bottom: 1px solid #f9f9f9; }
  body.wp63-page .widget .widget-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    body.wp63-page .widget .widget-content ul .menu-item a {
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid #fafafa; }
    body.wp63-page .widget .widget-content ul .menu-item.current-menu-item a {
      padding-right: 0px;
      border-right: 0.5rem solid #d5dbbc; }
    body.wp63-page .widget .widget-content ul .cat-item a {
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid #fafafa; }
    body.wp63-page .widget .widget-content ul .cat-item.current-cat a {
      padding-right: 0px;
      border-right: 0.5rem solid #d5dbbc; }
  body.wp63-page .widget .widget-content .searchform {
    padding: 0.5rem; }

body.wp63-page .wp63-pagination {
  padding: 1rem; }
  body.wp63-page .wp63-pagination .page-link {
    color: #44883d; }
  body.wp63-page .wp63-pagination .page-link:hover {
    color: #24330a; }
  body.wp63-page .wp63-pagination .page-item.active .current {
    color: #fff;
    background: #86af49;
    border-color: #86af49; }

body.wp63-page .event-meta .event-icon {
  font-size: 5rem;
  text-align: right; }

body.wp63-page .event-meta .event-detail {
  color: #9c9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  body.wp63-page .event-meta .event-detail .fa {
    width: 1rem;
    text-align: center; }
  body.wp63-page .event-meta .event-detail .event-title {
    margin-bottom: 0.5rem; }
  body.wp63-page .event-meta .event-detail .event-date {
    font-size: 0.8rem;
    margin-bottom: 0; }
  body.wp63-page .event-meta .event-detail .event-location {
    font-size: 0.8rem;
    margin-bottom: 0; }

body.wp63-page .gallery-meta .gallery-icon {
  font-size: 5rem;
  text-align: right; }

body.wp63-page .gallery-meta .gallery-detail {
  color: #9c9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  body.wp63-page .gallery-meta .gallery-detail .fa {
    width: 1rem;
    text-align: center; }
  body.wp63-page .gallery-meta .gallery-detail .event-title {
    margin-bottom: 0.5rem; }

body.wp63-event .post-content {
  margin-bottom: 3rem; }

body.wp63-personel .personel-list .personel-list-head {
  background: #86af49;
  color: #fff;
  padding: 0.5rem; }

body.wp63-personel .personel-list .personel-list-item {
  padding: 1rem 0.5rem;
  background: #fff;
  border-bottom: 1px solid #f9f9f9; }

body.wp63-personel .personel-list .personel-name {
  font-size: 0.8rem; }

body.wp63-personel .personel-list .personel-photo-container {
  text-align: center; }

body.wp63-personel .personel-list .personel-photo {
  width: 60%;
  height: auto; }

body.wp63-management .personel-list .personel-name {
  font-size: 1rem; }

body.wp63-management .personel-list .personel-photo {
  width: 100%; }

#footer {
  color: #fff;
  background: #156711;
  font-size: 0.8rem;
  padding-top: 1rem; }
  #footer .footer-logo {
    max-width: 100%;
    height: auto;
    opacity: 0.7; }
  #footer .address {
    padding: 1rem; }

@media screen and (max-width: 720px) {
  #header .nav-logo-wrapper {
    width: 50%; }
  #header .nav-link {
    text-align: center; }
  .wrapper {
    margin: 0; } }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Post Content Typography */
.post-content p {
  padding-bottom: 1rem; }

.alignleft {
  display: inline;
  float: left; }

.alignright {
  display: inline;
  float: right; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
  margin: 0.4em 1.6em 1.6em 0; }

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
  margin: 0.4em 0 1.6em 1.6em; }

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
  clear: both;
  margin-top: 0.4em;
  margin-bottom: 1.6em; }

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  margin-bottom: 1.2em; }
