// color
$greenery: #86af49;
$online-green: #44883d;
$darkgreen: #24330a;
$littlegreen: #d5dbbc;
$white: #fff;
$almost-white: rgba(255,255,255,0.8);
$bg-gray: #f9f9f9;

$text-color: #5a5a5a;
$text-light: #9c9c9c;

$max-width: 992px;

$font-heading: 'Prompt', sans-serif;
$font-content: 'Kanit', sans-serif;

body {
	background: $white;
	color: $text-color;
	font-family: $font-content;
	font-weight: 300;
}

a {
	color:$online-green;
}

a:hover {
	text-decoration: none;
	color:$darkgreen;
}

#header {
	background-color: $white;

	.row {
		align-items:center;
	}

	.logo {
		max-width:100%;
	}

	.dropdown-menu {
		border:none;
		border-radius:0px;
		font-size:0.9rem;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
		margin-top:0px;
		min-width: 12rem;
	}

	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}
.wp63-home {
	#home-slider {
		.carousel-caption {
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
		}
	}
	
	#main {
		h2 {
			padding-bottom:1rem;
		}
		
		.block {
			padding-top:2rem;
			padding-bottom:2rem;
		}
	
		#news-block {
			background: $bg-gray;

			.news-item {
				margin-bottom: 1rem;
	
				.card {
					border-radius: 2px;
					border:none;
					box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
				}
	
				.card-img-top {
					border-radius: 1px 1px 0px 0px;
				}
	
				.card-block {
					padding: 0.5rem;
	
					p {
						font-size: 0.9rem;
						line-height: 1.2rem;
						min-height: 3.6rem;
						max-height: 3.6rem;
						overflow:hidden;
					}
				}
			}
			
			.event-list {
				margin-bottom: 1rem;
			}
	
			.event-item {
				.fa {
					width:1rem;
					text-align: center;
				}
	
				.event-title {
					margin-bottom:0.5rem;
				}
	
				.event-date {
					font-size: 0.8rem;
					margin-bottom: 0;
				}
	
				.event-location {
					font-size: 0.8rem;
					margin-bottom: 0;
				}
			}
		}

		#congratulate-block {
			background: $greenery;
			color: $white;
		}

		#activity-block {
			.gallery-item {
				margin-bottom: 1rem;
	
				.card {
					border-radius: 2px;
					border:none;
					box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
				}
	
				.card-img-top {
					border-radius: 1px 1px 0px 0px;
				}
	
				.card-block {
					padding: 0.5rem;
	
					p {
						font-size: 0.9rem;
						line-height: 1.2rem;
						min-height: 3.6rem;
						max-height: 3.6rem;
						overflow:hidden;
					}
				}
			}
		}
	}
}

body.wp63-page {
	#main {
		background: $bg-gray;
		padding-top:1rem;
		padding-bottom:1rem;
	}

	.post-cover {
		img {
			max-width:100%;
			height: auto;
		}
	}

	.post-container {
		background: $white;
		padding:1.5rem 2rem;
	}

	.post-container .post-meta {
		font-size: 0.8rem;
		margin-bottom:1rem;
	}

	.widget {
		background: $white;
		margin-bottom:1rem;

		.widget-title {
			padding: 0.5rem;
			margin:0px;
			border-bottom: 1px solid #f9f9f9;
		}

		.widget-content {
			padding: 0.5rem;

			ul {
				list-style:none;
				padding:0px;
				margin:0px;
			}
		}
	}

	.event-meta {
		.event-icon {
			font-size:5rem;
			text-align:right;
		}

		.event-detail {
			color: $text-light;
			display: flex;
			flex-direction: row;
			align-items: center;

			.fa {
				width:1rem;
				text-align: center;
			}

			.event-title {
				margin-bottom:0.5rem;
			}

			.event-date {
				font-size: 0.8rem;
				margin-bottom: 0;
			}

			.event-location {
				font-size: 0.8rem;
				margin-bottom: 0;
			}
		}
	}
}

body.wp63-event {
	.post-content {
		margin-bottom:3rem;
	}
}

#footer {
	color:$white;
	background: $darkgreen;
	font-size:0.8rem;
	padding-top:1rem;

	.footer-logo {
		max-width: 100%;
		height: auto;
		opacity: 0.7;
	}
}