// color
$greenery: #86af49;
$online-green: #44883d;
$darkgreen: #24330a;
$littlegreen: #d5dbbc;
$white: #fff;
$almost-white: rgba(255,255,255,0.8);
$text-color: #5a5a5a;

$max-width: 992px;

$font-heading: 'Prompt', sans-serif;
$font-content: 'Prompt', sans-serif;

body {
	background: $online-green;
	color: $text-color;
	font-family: $font-content;
	font-weight: 300;
}

#header {
	background-color: $white;

	.logo {
		max-width:100%;
	}

	
}
